<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <title>PassTheSheet</title>
  <link rel="shortcut icon" href="/favicon.ico" />
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <meta charset="utf-8" />
  <%= csrf_meta_tags %>
</head>
<body>

<%= render "layouts/content" %>

</body>
</html>
